/***********************************************/
/*************      CSS reset    ***************/
/***********************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  background: #001f4d;
}
header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
header .logo {
  width: 50px;
  height: 40px;
  background: white;
  border: 1px solid blue;
  margin: 10px 0;
}
header .btn {
  width: 75px;
  height: 40px;
  background: grey;
  display: block;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 10px 0;
}
header .btn a {
  text-decoration: none;
  color: black;
}
.main-content {
  background: #091A3E;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.main-content .top-content {
  background-image: url("../img/airport-passengers.jpg");
  font-family: 'Merienda', cursive;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  color: white;
}
.main-content .top-content .title {
  margin-top: 50px;
  padding: 20px 7px;
  font-size: 7rem;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 800px) {
  .main-content .top-content .title {
    font-size: 6rem;
  }
}
@media (max-width: 500px) {
  .main-content .top-content .title {
    font-size: 5.5rem;
    margin-top: 110px;
  }
}
.main-content .top-content p {
  margin-top: 85px;
  padding: 9px 17%;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 800px) {
  .main-content .top-content p {
    font-size: 3rem;
    padding: 0 10%;
  }
}
@media (max-width: 500px) {
  .main-content .top-content p {
    font-size: 2.5rem;
    margin-top: 60px;
  }
}
.main-content .top-content .btn {
  width: 275px;
  height: 40px;
  background: #6b9819;
  display: block;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  margin: 100px 20px 80px;
  font-size: 2.5rem;
  border: 1px solid white;
  border-radius: 6px;
}
.main-content .top-content .btn a {
  display: block;
  text-decoration: none;
  color: white;
}
@media (max-width: 500px) {
  .main-content .top-content .btn {
    width: 150px;
  }
}
.main-content .top-content .arrow {
  width: 100%;
}
.main-content .top-content .arrow img {
  display: block;
  margin: 0 auto;
  width: 50px;
  background: white;
}
.main-content .bottom-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .main-content .bottom-content {
    flex-direction: column;
  }
}
.main-content .bottom-content .image {
  width: 25%;
  max-height: 200px;
}
@media (max-width: 500px) {
  .main-content .bottom-content .image {
    width: 90%;
    margin: 0 auto;
  }
}
.main-content .bottom-content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .whyus {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 2rem;
  color: white;
}
.main-content .whyus h2 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 800;
}
@media (max-width: 500px) {
  .main-content .whyus {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.main-content .whyus div {
  width: 30%;
  border: 2px solid green;
  border-radius: 5px;
  margin: 18px;
}
@media (max-width: 800px) {
  .main-content .whyus div {
    width: 40%;
    marginn: 10%;
  }
}
@media (max-width: 500px) {
  .main-content .whyus div {
    width: 45%;
    margin: 5px;
  }
}
.main-content .whyus div h3 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.main-content .whyus div p {
  margin: 20px;
}
