@import "variables";
@import "mixins";
@import "reset";

html {
    background: beige; //#7395AE;
    font-size: 62.5%;
    font-family: 'Italianno', cursive;;
}

body {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    .team {
        .names {
            margin-top: 20px;
        }
    }

}

section {
    margin: 0 20px;
}

h2 {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;

    @media @mobile {
        font-size: 5 rem;
    }
}

p {
    font-size: 4rem;

    @media @mobile {
        font-size: 3 rem;
    }
}

span {
    font-weight: bold;
}

