.main-content {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .top-content {
        background-image: url("../img/airport-passengers.jpg");
        font-family: 'Abril Fatface', Helvetica, Arial;
        .flex(center, 100%);
        flex-wrap: wrap;

        .title {
            margin-top: 50px;
            font-size: 7rem;
            color: red;

            @media @tablet {
                font-size: 6rem;
            }

            @media @mobile {
                font-size: 5.5rem;
                margin-top: 110px;
            }
    
        }

        p {
            margin-top: 85px;
            padding: 0 20%;
            font-size:  4rem;
            color: red;

            @media @tablet {
                font-size: 3rem;
                padding: 0 10%;
            }

           @media @mobile {
               font-size: 2.5rem;
               margin-top: 60px;
           }
        }

        button {
            width: 200px;
            height: 40px;
            background: #6b9819;
            margin: 125px 20px 100px;
            border-radius: 5px;
            font-size: 2.5rem;

            @media @mobile {
                width: 150px;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }
    }


    .bottom-content {
        margin-top: 40px;
        .flex(space-between, 100%);
    
        .image {
            width: 25%;
    
            img{
                width: 100%;
            }
        }
    
    }

}



